venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

train/outputs/
*/unsloth_compiled_cache/
train/*.csv


train/ThomasTheMaker/*

data/openscad_dataset.json

train/gguf/
train/models/

data/*/images/


train/evaluation/*/*.scad
train/evaluation/*/*.stl
train/evaluation/*/*.png